.gpt3__header {
    display: flex;
    flex-direction: column;
    background: url("../../assets/home-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}   

.home-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.home-image img {
    width: auto;
    height: auto;
    max-width: 700px;
    max-height: 560px;
}
